{% extends "blog/base.html" %}

{% load static %}

{% block content %}

    <div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
        <a href="article_card.html">
        <button class="btn waves-effect waves-light" name="preview">Preview
            <i class="material-icons left">send</i>
        </button>
        </a>
    </form>
    </div>
{% endblock %}
